.file-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 6px;
    gap: 2em;
}
.uploaded {
    color: green;
}

.hide {
    display: none !important;
}

.show {
    display: flex;
}

button .expandMRIBtn {
    position: absolute;
    margin-top: 2em;
    width: 40px;
}

.default-container {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}